{% extends 'SundayUIBundle::base.html.twig' %}

{% block customJavascript %}{% endblock %}
{% block body %}
    <body id="sunday-body">
    <div id="background"></div>
    {% block sundayHead %}
        <div class="ui fixed inverted main menu">
            <div class="container">
                <a id="menu-title" class="title item">
                    <img class="ui" src="{{ asset('bundles/sundayui/img/icon/menu-title.png') }} " border="0" alt="Sunday" width="90" height="35">
                </a>

                {% block menuContent %}
                    {{ topMenu()|raw }}
                {% endblock menuContent %}

                <div class="right menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search..." id="search">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    <a class="item">
                        <i class="user icon"></i> Tony Gao
                    </a>
                </div>

            </div>
        </div>
    {% endblock %}

    {{ block('wsSundayContent') }}

    {% block sundayfoot %}

    {% endblock %}
    </body>
{% endblock %}